{% extends 'base.html' %}

{% load static %}
{% block title %}
    Fernweh - Home
{% endblock %}
{% block content %}
    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay jarallax" style="background-image: url({% if not user.is_authenticated %}{% static 'img/fernweh/plslogin.jpg' %}{% else %}{{ apod.hdurl }}{% endif %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12">
                            <div class="welcome-text text-right">
                                {% if not user.is_authenticated %}<h2 data-animation="fadeInUp" data-delay="300ms">for daily <br>astronomy  photo</h2>{% endif %}
                                {% if not user.is_authenticated %}{% else %}<h6 data-animation="fadeInUp" data-delay="500ms">this is your daily astronomy photo{% endif %}</h6>
                            {% if not user.is_authenticated %}
                                <div class="hero-btn-group" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="{% url 'login' %}" class="btn confer-btn">Login <i class="zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Scroll Icon -->
        <div class="icon-scroll" id="scrollDown"></div>
    </section>
    <!-- Welcome Area End -->

    <!-- About Us And Countdown Area Start -->
    <section class="about-us-countdown-area section-padding-100-0" id="about">
        {% if user.is_authenticated %}
            <div class="container">
                <div class="row align-items-center">
                    <!-- About Content -->
                    <div class="col-12 col-md-6">
                        <div class="about-content-text mb-80">
                            <h6 class="wow fadeInUp" data-wow-delay="300ms">About daily image</h6>
                            <h3 class="wow fadeInUp" data-wow-delay="300ms">{{ apod.copyright }}</h3>
                            <p class="wow fadeInUp" data-wow-delay="300ms">{{ apod.explanation }}</p>
                            <h3 class="wow fadeInUp" data-wow-delay="300ms">{{ apod.date }}</h3>
                        </div>
                    </div>

                    <!-- About Thumb -->
                    <div class="col-12 col-md-6">
                        <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                            <img src="{{ apod.url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    <hr style="color: white">
        <div class="container">
            <div class="row align-items-center">
                <!-- About Content -->
                <div class="col-12 col-md-6">
                    <div class="about-content-text mb-80">
                        <h6 class="wow fadeInUp" data-wow-delay="300ms">About Image Library</h6>
                        <h3 class="wow fadeInUp" data-wow-delay="300ms">Welcome to NASA Image Library of Fernweh</h3>
                        <p class="wow fadeInUp" data-wow-delay="300ms">Image library gets astronomy photos and videos by your search. Search for the astronomy photos you wonder and according to the information you want.Click to go on a happy journey between thousands of real photos recorded by NASA</p>
                        <a href="#" class="btn confer-btn mt-50 wow fadeInUp" data-wow-delay="300ms">Image browse <i class="zmdi zmdi-long-arrow-right"></i></a>
                    </div>
                </div>

                <!-- About Thumb -->
                <div class="col-12 col-md-6">
                    <div class="about-thumb mb-80 wow fadeInUp" data-wow-delay="300ms">
                        <img src="{%  static 'img/bg-img/blackhole.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Counter Up Area -->
{#        <div class="countdown-up-area">#}
{#            <div class="container">#}
{#                <div class="row align-items-center">#}
{#                    <div class="col-12 col-md-3">#}
{#                        <!-- Countdown Text -->#}
{#                        <div class="countdown-content-text mb-100 wow fadeInUp" data-wow-delay="300ms">#}
{#                            <h6>Conference Date</h6>#}
{#                            <h4>Count Every Second Until the Event</h4>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-12 col-md-9">#}
{#                        <div class="countdown-timer mb-100 wow fadeInUp" data-wow-delay="300ms">#}
{#                            <div id="clock"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </section>
    <!-- About Us And Countdown Area End -->

    <!-- Our Speakings Area Start -->
    <section class="our-speaker-area bg-img bg-gradient-overlay section-padding-100-60" style="background-image: url(img/bg-img/3.jpg);">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>NASA</p>
                        <h4>International Space Station Astronouts</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'img/astronouts/chrishadfield.jpg' %}" alt="">
                        </div>
                        <div class="social-info">
                            <a href="https://twitter.com/cmdr_hadfield"><i class="zmdi zmdi-twitter"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Chris Hadfield</h5>
                            <p>International Space Station</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'img/astronouts/scottkely.jpg' %}" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://twitter.com/stationcdrkelly"><i class="zmdi zmdi-twitter"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Scott Kelly</h5>
                            <p>International Space Station</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{%  static 'img/astronouts/samantha.jpg' %}" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://twitter.com/astrosamantha"><i class="zmdi zmdi-twitter"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Samantha Cristoforetti</h5>
                            <p>International Space Station</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'img/astronouts/yuri.jpg' %}" alt="">
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Yury Usachov</h5>
                            <p>International Space Station</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'img/astronouts/alexander.jpg' %}" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://twitter.com/astro_alex"><i class="zmdi zmdi-twitter"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Alexander Gerst</h5>
                            <p>International Space Station</p>
                        </div>
                    </div>
                </div>

                <!-- Single Speaker Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-speaker-area bg-gradient-overlay-2 wow fadeInUp" data-wow-delay="300ms">
                        <!-- Thumb -->
                        <div class="speaker-single-thumb">
                            <img src="{% static 'img/astronouts/Michael.jpg' %}" alt="">
                        </div>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="https://twitter.com/astroironmike"><i class="zmdi zmdi-twitter"></i></a>
                        </div>
                        <!-- Info -->
                        <div class="speaker-info">
                            <h5>Michael Fincke</h5>
                            <p>International Space Station</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Speakings Area End -->

    <!-- Our Schedule Area Start -->
    <section class="our-schedule-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Heading -->
                <div class="col-12">
                    <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                        <p>NASA</p>
                        <h4>Schedule Plan</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="schedule-tab">
                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="conferScheduleTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#step-one" role="tab" aria-controls="step-one" aria-expanded="true">2020 <br> <span>2020</span></a>
                            </li>
                            <!-- Nav Item -->
                            <li class="nav-item">
                                <a class="nav-link" id="tuesday-tab" data-toggle="tab" href="#step-two" role="tab" aria-controls="step-two" aria-expanded="true">2021<br> <span>2021</span></a>
                            </li>

                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content" id="conferScheduleTabContent">
                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                            <!-- Single Tab Content -->
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="{% static 'img/bg-img/nasaicon.png' %}" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Parker Solar Probe </h6>
                                                    <p>NASA solar mission makes third Venus flyby</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 11 July 2020</p>
                                                <p><i class="zmdi zmdi-map"></i> NSSDCA/COSPAR ID: 2018-065A</p>
                                            </div>

                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="{% static 'img/bg-img/nasaicon.png' %}" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Mars 2020 </h6>
                                                    <p> Launch of NASA Mars rover</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 17 July 2020</p>
                                                <p><i class="zmdi zmdi-map"></i> NSSDCA ID: MARS-2020</p>
                                            </div>

                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="{% static 'img/bg-img/nasaicon.png' %}" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>  Hope</h6>
                                                    <p>  Launch of United Arab Emirates Mars orbiter</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> July 2020</p>
                                                <p><i class="zmdi zmdi-map"></i> NSSDCA ID: EMM-HOPE</p>
                                            </div>

                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="{% static 'img/bg-img/nasaicon.png' %}" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6> Huoxing 1</h6>
                                                    <p>  Launch of Chinese Mars rover and orbiter</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> July 2020</p>
                                                <p><i class="zmdi zmdi-map"></i> NSSDCA ID: HUOXING 1</p>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="step-two" role="tabpanel" aria-labelledby="tuesday-tab">
                            <!-- Single Tab Content -->
                            <div class="single-tab-content">
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="{% static 'img/bg-img/nasaicon.png' %}" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Parker Solar Probe</h6>
                                                    <p>NASA solar mission makes fourth Venus flyby</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i> 2021 February 20 </p>
                                                <p><i class="zmdi zmdi-map"></i> NSSDCA/COSPAR ID: 2018-065A</p>
                                            </div>

                                        </div>

                                        <!-- Single Schedule Area -->
                                        <div class="single-schedule-area d-flex flex-wrap justify-content-between align-items-center wow fadeInUp" data-wow-delay="300ms">
                                            <!-- Single Schedule Thumb and Info -->
                                            <div class="single-schedule-tumb-info d-flex align-items-center">
                                                <!-- Single Schedule Thumb -->
                                                <div class="single-schedule-tumb">
                                                    <img src="{% static 'img/bg-img/nasaicon.png' %}" alt="">
                                                </div>
                                                <!-- Single Schedule Info -->
                                                <div class="single-schedule-info">
                                                    <h6>Double Asteroid Redirection Test (DART) </h6>
                                                    <p>Launch of NASA impactor to binary asteroid Didymos</p>
                                                </div>
                                            </div>
                                            <!-- Single Schedule Info -->
                                            <div class="schedule-time-place">
                                                <p><i class="zmdi zmdi-time"></i>2021 July</p>
                                                <p><i class="zmdi zmdi-map"></i> NSSDCA ID: DART</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}